@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    --deep:hsl(225, 100%, 92%);
}
*,
*::before,
*::after{
    box-sizing:border-box;
}
body{
    margin:0;
    padding:0;
    display:grid;
    justify-content: center;
    align-items: center;
    height:100vh;
    font-family: 'Red Hat Display', sans-serif;
    font-size:16px;
    background-color: var(--Pale-blue);
}
.bg{
    z-index:-99;
    position: fixed;
    top:0;
    left:0;
    visibility: hidden;;
}
.main-container{
    background-color:white;
    width:325px; 
    height:600px;
    border-radius:10px;
    z-index:99;
    box-shadow: 0px 7px 50px -30px;
    z-index:99;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.top-image{
    width:100%;
    margin: auto;
    display:block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.main-content{
    text-align:center;
    margin:2rem auto;
    width:275px;
}
.main-content h1{
    font-size:23px;
    color:var(--Dark-blue)
}
.main-content p{
    font-weight:500;
    font-size:16px;
    margin-top:1.5rem;
    line-height: 1.5rem;
    color:var(--Desaturated-blue)
}
.annual-plan-container{
    display: flex;
    justify-content: center;
    background-color: var(--Very-pale-blue);
    margin:auto;
    padding:1rem;
    width:300px;
    border-radius:10px;
}
.icon-container{
    display: grid;
    justify-content: center;
    align-items: center;
}
.icon{
    display: grid;
    justify-content: center;
    align-items: center;
    width:auto;
    height:50px;
    margin-right:1.5rem;
}
.fee-container{
    display: grid;
    justify-content: center;
    align-items: center;
}
.fee-container p{
    margin-bottom:0;
    margin-top:0;
}
.word{
    color:var(--Dark-blue);
    font-weight:900;
}
.number{
    color: var(--Desaturated-blue);
}
.change-container{
    display: grid;
    justify-content: center;
    align-items: center;
}
.change-container a{
    margin-left:2.5rem;
    color:var(--Bright-blue)
}
.btn{
    border:1px solid;
    width:300px;
    margin:1.75rem auto;
    display: block;
    padding:1rem;
    border-radius:10px;
    background-color: var(--Bright-blue);
    box-shadow: 0px 7px 50px -15px  var(--Bright-blue);
    color:var(--Very-pale-blue);
    text-align:center;
    text-decoration:none;
    font-size:16px;
    font-weight: 700;
}
.btn:hover {
    cursor:pointer;
}
.cancel{
    width:300px;
    margin:1.75rem auto;
    display: block;
    color:var(--Desaturated-blue);
    text-align:center;
    text-decoration:none;
    font-size:16px;
    font-weight: 700;
}
.cancel:hover {
    cursor:pointer;
}
@media(min-width:1440px){
    .bg{
        visibility:visible;
    }
}